.board {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.column {
  flex: 1;
  justify-content: center;
  min-height: 300px;
  background-color: #f3f3f3;
  border: 2px dashed #ccc;
  border-radius: 8px;
  padding: 10px;
}

.ticket {
  height: 100px;
  background-color: chartreuse;
  margin-bottom: 10px;
}